<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
        <a class="navbar-brand" href="#">
                <img src="assets/logo1.png" alt="Logo" style="width:40px;">
              </a>
        <a class="navbar-brand" href="#">Indian Net Bank</a>
        <ul class="navbar-nav ml-auto mr-1"> </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
         </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <ul class="navbar-nav text-right">
                    <li class="nav-item active">
                            <a routerLink="home" class="nav-link" routerLinkActive="active">Home</a>
                        </li>
                <li class="nav-item active">
                        <a routerLink="faq-info" class="nav-link" routerLinkActive="active">FAQ</a>
                </li>
                <li class="nav-item active">
                        <a routerLink="aboutus-info" class="nav-link" routerLinkActive="active">About us</a>
                </li>
                
                <li class="nav-item active">
                        
                        <a routerLink="login" class="btn btn-success " routerLinkActive="active">Login</a>
                </li>
            </ul>
        </div>
    </nav>