
<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">About Us</h2>
                    <p class="aboutus-text">Online banking allows a user to conduct financial transactions via the Internet. </p>
                    <p class="aboutus-text">Online banking offers customers almost every service traditionally available through a local branch including deposits, transfers, and online bill payments.</p>
                    <p class="aboutus-text">With online banking, consumers aren't required to visit a bank branch to complete most of their basic banking transactions. They can do all of this at their own convenience, wherever they want—at home, at work, or on the go.</p>
                    
                </div>
            </div>
            <div id="backgroundImage"  class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus-banner">
                    <img src="../../../assets/ThirdBank.jpg" alt="">
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="feature">
                    <br>
                    <br>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h4>"Great support"</h4>
                                
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h4>"Work with heart"</h4>
                             </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h4>"The best way to save your time   and money"</h4>
                                
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>"Offering the most competitive plans"</h4>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                                <div class="clearfix">
                                    <div class="iconset">
                                        <span class="glyphicon glyphicon-cog icon"></span>
                                    </div>
                                    <div class="feature-content">
                                        <h4>"Your Right Partner"</h4>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="feature-box">
                                    <div class="clearfix">
                                        <div class="iconset">
                                            <span class="glyphicon glyphicon-cog icon"></span>
                                        </div>
                                        <div class="feature-content">
                                            <h4>"Working for a better tomorrow"</h4>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="feature-box">
                                        <div class="clearfix">
                                            <div class="iconset">
                                                <span class="glyphicon glyphicon-cog icon"></span>
                                            </div>
                                            <div class="feature-content">
                                                <h4>"You can always bank on us."</h4>
                                                
                                            </div>
                                        </div>
                                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>