<body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" routerLink="homeimg">Admin Dashboard</a>
          
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
            
            </ul>
            <ul class="navbar-nav mt-2 mt-md-0">
                <li class="nav-item active">
                    <a routerLink="approvedMoney" class="nav-link" routerLinkActive="active">Approve Money</a>
                </li>
            
                      
                        <li class="nav-item active">
                            <a routerLink="detailstatemnet" class="nav-link" routerLinkActive="active">Detailed transaction</a>
                        </li>
                        <li class="nav-item active mr-sm-2">
                          <a routerLink="pendingrequest" class="nav-link" routerLinkActive="active"> Pending Request</a><li>
                        <li class="nav-item active mr-sm-2">
                        <a routerLink="approvedrequest" class="nav-link" routerLinkActive="active">Approved Request</a><li>
                          <li class="nav-item active mr-sm-2">
                            <a routerLink="rejectedrequest" class="nav-link" routerLinkActive="active">Reject Request</a><li>
                              
                            
                        
              <li class="nav-item active mr-sm-2"> <a class="nav-link" (click)="onClickMe()">Logout</a></li>
            </ul>
          </div>
        </nav>
</body>

