<br>
<br>
<br>
<h4 class="text-center"><b> OUR SERVICES </b> </h4>

<br>


<div class="container">
    <div class="row">

        
        <!--team-4-->
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="assets/billpay.jpg">
                    <i><h3>Bill Payement</h3></i>

                </div>

                <div class="team-back">
                    <span><h3>
                       <i><b> Electricity Bill</b></i><br>
                       <i> <b>Mobile recharge</b></i><br>
                       <i> <b>Broadband</b></i></h3>
                       </span>
                </div>

            </div>
        </div>
        <!--team-4-->

        <!--team-5-->
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="assets/moneytransfer.png">
                   <i> <h3>Money Transfer</h3></i>

                </div>

                <div class="team-back">
                    <span>
                       <i><h3>One INB Account to another INB Account</h3></i>
        </span>
                </div>

            </div>
        </div>
        <!--team-5-->

        <!--team-6-->
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="assets/cheque.png">
                    <h3>Cheque Deposit</h3>

                </div>

                <div class="team-back">
                    <span>
                        <i><h3>Request for money by cheque from INB account</h3></i>
        </span>
                </div>

            </div>
        </div>
        <!--team-6-->



    </div>
</div>
      
      <footer class="page-footer font-small special-color-dark">

          <!-- Footer Elements -->
                
        <div class="text-center bg-dark">
              <p class="text-light">©  Copyright:IndianNetBank.com</p></div>
          <!-- Copyright -->
      
        </footer>