<div class="container-fluid" class="w-auto  text-center">
    
    <h1 id="banner-tagline">
      ******Too busy to join the line?
         Just click and you’ll be on line!******
    </h1>
<img class="img-responsive" src="assets/SecondBank.jpg">

    
</div>

<!-- Team -->

<!-- Team -->

<!-- Footer -->

<footer class="page-footer font-small special-color-dark">

        <!-- Footer Elements -->
              
      <div class="text-center bg-dark">
            <p class="text-light">©  Copyright:IndianNetBank.com</p></div>
        <!-- Copyright -->
    
      </footer>

